.DS_Store
node_modules
/example-dist
/document-dist
/dist
/output
/yiautos-commons-wap
/coverage

# local env files
.env.local
.env.*.local

**/__snapshots__
/report

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
